$colorAcent: #218fcc;
$colorAcentDark: #0e5579;
$colortext: #666;
$colorAcent2: #ee4655;

:host {
  --colorAcent: #218fcc;
  --colorAcentDark: #0e5579;
  --colortext: #666;
  --colorAcent2: #ee4655;
}






