<div class='chatbot__typing-wrapper'>
  <div class='chatbot__bot-icon'>
    <img class="chatbot__img" [src]="env.pathOffset +'assets/images/chatbot-icons/bot.png'">
    <!-- <img class="chatbot__img" [src]="'https://deepcare-chatbot-widget.s3-ap-southeast-1.amazonaws.com/ui-sets/' + uiSetName +  '/images/bot.png'" > -->
  </div>
  <div class="chatbot__typing">
    <div class="chatbot__typing__dot"></div>
    <div class="chatbot__typing__dot"></div>
    <div class="chatbot__typing__dot"></div>
  </div>
</div>